*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

header{
    padding: 0.3rem 2rem;
    border-bottom: 1px solid black;
    background-color: #FDF5F5;
    font-size: medium;
    width: 100vw;
    position: fixed;
}