main{
    width: 100vw;
    height: 100vh;
    padding: 30rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 5rem;
    justify-content: center;
    max-width: 80rem;
}

.project-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1rem;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.185);
    border-radius: 15px;
    padding: 5px;
    background-color: rgb(171, 169, 192);

}
    .project-container img{
        width: 100%;
        align-items: start;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .project-container button{
        width: 50%;
        padding: 0.5rem 1rem;
        margin-bottom: 0.5rem;
        border-radius: 5px;
        background-color: rgba(160, 160, 248, 0.568);
        border: 1px solid black;
        cursor: pointer;
    }